html {
  direction: rtl;
}
/* .button-group {
  display: flex;
} */
.App {
  text-align: center;
}

.cancel {
  display: none;
}
button {
  display: flex;
  align-items: center;
  border: 1px solid #d7d7d7;
  background-color: inherit;
  cursor: pointer;
  font-size: 36;
  font-weight: 800;
}
.side {
  background-color: aquamarine;
  width: 15%;
  min-width: fit-content;
  height: 100vh;
  padding: 30px 15px;
}
.main {
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
